* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif; 
}

body {
    background-color: #FAFAFA !important; /* Fondo claro PARA EL RESTO DE LOS HTML */
    color: #333333; /* Texto oscuro */
}

/* Navbar */
.navbar {
    background-color: #2B3C4F; 
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #233140;
}

/* Menú hamburguesa */
.nav-hamburguer {
    flex: 1;
}

.nav-hamburguer button {
    font-size: 2em;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

/* Dropdown menu */
#dropdownMenu {
    background-color: #2B3C4F; /* Verde claro */
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#dropdownMenu ul li {
    padding: 10px;
}

#dropdownMenu ul li a {
    color: #004D40;
    text-decoration: none;
}

/* Título del Navbar en el centro */
.title-navbar {
    flex: 1;
    font-size: 1.8em;
    text-align: center;
    color: white;
    font-weight: bold;
}

/* Usuario en el lado derecho */
.nav-user {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.username {
    font-size: 1.5em;
    color: #6C93B9;
}

/* Carrusel */
.carousel img {
    height: 450px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Sombras suaves para mayor profundidad */
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #2B3C4F;
    border-radius: 50%;
}

/* Botones de navegación */
.home-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.home-buttons a {
    text-decoration: none;
}

.home-buttons button {
    background-color: #6C93B9;
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 1.4em;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

.home-buttons button:hover {
    background-color: #6C93B9; /* Color más oscuro para hover */
    transform: translateY(-3px); /* Pequeña animación al hacer hover */
}

.recorrido-container {
    text-align: center;  /* Centra el texto dentro del contenedor */
    margin-top: 50px;  /* Añade un margen superior */
}

.recorrido-container h1 {
    color: #2B3C4F;  /* Color del título */
    font-size: 2em;  /* Ajusta el tamaño del texto */
}

button[type="submit"] {
    background-color: #6C93B9;  /* Color de fondo del botón */
    color: white;  /* Color del texto del botón */
    border: none;
    padding: 15px 30px;  /* Añade un poco de padding */
    border-radius: 5px;  /* Bordes redondeados */
    font-size: 1.2em;  /* Tamaño de fuente */
    cursor: pointer;  /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease;  /* Suaviza el cambio de color */
}

button[type="submit"]:hover {
    background-color: #161f29;  /* Color al pasar el mouse sobre el botón */
}

.button-group {
    display: flex;
    flex-wrap: wrap; /* Permite que los botones se ajusten en múltiples líneas */
    gap: 15px; /* Espacio entre botones */
    justify-content: center; /* Centra los botones */
    margin-top: 20px; /* Espacio superior */
}

.button-group .btn {
    padding: 10px 20px; /* Ajusta el padding según sea necesario */
    font-size: 1.2em; /* Tamaño de fuente */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Animación al pasar el mouse */
}

.button-group .btn:hover {
    background-color: #0056b3; /* Color al pasar el mouse */
}

/*ESTILOS PARA site admin*/
.container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.left-table, .right-table {
    width: 48%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    background-color: #f2f2f2;
    text-align: left;
}

table td img {
    max-width: 100px;
    height: auto;
}

button {
    margin-bottom: 10px;
}

.right-table {
    margin-left: 20px;
}

.img-div {
    width: 100px;
    height: auto;
}

.fa-pen-to-square, .fa-trash {
    margin-left: 10px;
    cursor: pointer;
}

/*ESTILOS PARA EL MAPA*/
#map {
    height: 600px;
    width: 100%;
}

/*ESTILOS DEL home.html*/
/*
body {
    background-color: #2B3C4F !important; 
    color: #333333; 
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}



.home-description {
    font-size: 1.2em;
    color: #FAFAFA; 
    margin-bottom: 40px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home-button {
    background-color: #6C93B9; 
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 1.4em;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

.home-button:hover {
    background-color: #0056b3; 
    transform: translateY(-3px); 
}*/
