<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Culturama{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'image/logo.png' %}">
</head>
<body>
    <!-- bloque para mostrar mesajes -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <header> {% block header %} {% endblock %} </header>
    <main> {% block body %} {% endblock %} </main>
    <footer> {% block footer %} {% endblock %} </footer>
</body>
<script src="{% static 'js/script.js' %}"></script>
<script src="https://kit.fontawesome.com/122151608e.js" crossorigin="anonymous"></script>
</html>