<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Culturama{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/logoo.png' %}">
    <nav class="navbar">
        <div class="nav-hamburguer">
            <button id="menu-toggle" onclick="toggleDropdown()">☰</button>
            <div id="dropdownMenu" style="display: none;">
                <ul>
                    <li><a href="{% url 'HomeUser' %}">Inicio</a></li>
                    <li><a href="{% url 'Map' %}">Mapa</a></li>
                    <li><a href="{% url 'Route1' %}">Recorrido</a></li>
                    <li><a href="{% url 'ConfirmLogout' %}">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
        <h1 class="title-navbar">CULTURAMA</h1>
        <div class="nav-user">
            <h3 class="username">{{ user.username }}</h3>
        </div>
    </nav>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    {% block extra_head %}{% endblock %}
</head>
<body>
    <!-- Bloque para mostrar mensajes -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <header> {% block header %} {% endblock %} </header>
    <main> {% block body %} {% endblock %} </main>
    <footer> {% block footer %} {% endblock %} </footer>

    <!-- jQuery y Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/122151608e.js" crossorigin="anonymous"></script>

    <script src="{% static 'js/script.js' %}"></script>

    {% block extra_scripts %}{% endblock %}
</body>
</html>
