<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}HOME - ☀️{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/logoo.png' %}">
</head>
<body>
    <div class="home-container">
        <img src="{% static 'images/cultu.png' %}" alt="Logo de Culturama" class="home-logo">
        <h2 class="home-description">Inicia sesión o regístrate para continuar.</h2>

        <div class="button-container">
            <a href="{% url 'Login' %}">
                <button class="home-button">Iniciar Sesión</button>
            </a>
            <a href="{% url 'Register' %}">
                <button class="home-button">Registrarse</button>
            </a>
        </div>
    </div>
</body>
</html>
