{% extends 'base.html' %}

{% block title %}HOME - ☀️{% endblock %}
{% block body %}
{% load static %}
<h2>Home provisional</h2>

<p>{{ user.username }}<p>

<div>
    <a href="{% url 'Login' %}">
        <button>Login</button></a>
</div>
<div>
    <a href="{% url 'ConfirmLogout' %}">
        <button>Logout</button></a>
</div>
<div>
    <a href="{% url 'Register' %}">
        <button>Registro</button></a>
</div>
<div>
    <a href="{% url 'SitesAdmin' %}">
        <button>Admin</button></a>
</div>


{% endblock %}