<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - ☀️</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/logoo.png' %}">
</head>
<body>
    <div class="authentication-container">
        <img src="{% static 'images/cultu.png' %}" alt="Logo de Culturama" class="home-logooo">
        <br>
        <h1>Iniciar Sesión</h1>
        <br>
        <form method="post" class="authentication-form">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="username">Usuario:</label>
                <input type="text" id="username" name="username">
            </div>
            
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
            </div>

            <button type="submit" class="authentication-button">Iniciar Sesión</button>
        </form>

        <p class="pp">¿No tienes una cuenta? <a href="{% url 'Register' %}">Regístrate acá</a></p>
    </div>
</body>
</html>
