<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Registro - ☀️{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="registration-container"> 
        <img src="{% static 'images/cultu.png' %}" alt="Logo de Culturama" class="registration-logo"> 
        <br>
        <h1>Registro</h1>
        <form method="post" class="registration-form"> 
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="registration-button">Registrarse</button> 
        </form>

        <p class= "pp">¿Ya tenes una cuenta? <a href="{% url 'Login' %}">Inicia sesión acá</a></p>
    </div>
</body>
</html>

