{% extends 'base.html' %}

{% block title %}Seleccionar Temática{% endblock %}

{% block body %}
<div class="recorrido-container">
    <h1>Elige una temática</h1>
    <form method="post">
        {% csrf_token %}
        <div class="button-group">
            {% for tag in tags %}
                <button type="submit" name="tag_id" value="{{ tag.id_tag }}" class="btn btn-primary" action= "{% url 'Route2' tag_id=tag.id_tag %}" >{{ tag.tag }}</button>
            {% endfor %}
        </div>  
    </form>
</div>

{% endblock %}

