{% extends 'base.html' %}

{% block title %}Desactivar Sitio - ☀️{% endblock %}
{% block body %}
{% load static %}
<div class="admin-container">
    <h1>Desactivar Sitio</h1>
    <p>¿Estás seguro de que deseas desactivar este sitio?</p>
    <p><b>Nombre: {{ object.site_name }}</b></p>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="admin-button">Desactivar</button>
    </form>
    
    <div>
        <a href="{% url 'SitesAdmin' %}">
            <button class="admin-button">Cancelar</button>
        </a>
    </div>
</div>
{% endblock %}
